body {
    background-color: lightgray;
    font-family: sans-serif;
}

input[type=number]{
    width: 80px;
}

.header {
    background-color: whitesmoke;
    width: 500;
    padding-top: 5;
    padding-bottom: 5;
}

.content {
    background-color: white;
    width: 400;
    padding-top: 20;
    padding-bottom: 20;
    padding-left: 50;
    padding-right: 50;
}

.task1, .task2, .task3{
    background-color: gainsboro;
    padding: 10;
}

.task1:hover, .task2:hover, .task3:hover {
    background-color: white;
}